<h2>Pa&iacute;ses</h2>
<hr />

<ul class="list-group">
  <!-- routerLink sirve para hacer la navegacion en base a los elementos del router -->
  <li
    routerLink=""
    class="list-group-item"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Home Page
  </li>

  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    About Page
  </li>

  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    Contact Page
  </li>
</ul>
